.navigation {
  width: 250px;
  background-color: white;
}
.headerNav {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
  position: fixed;
  top: 0;
  width: 200px;
}
.imageLogo {
  height: 60px;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5px;
}
.headerText span:last-child {
  color: #ccc;
  margin-top: 3px;
  font-weight: bold;
  font-size: 18px;
}
.mainNavigation {
  height: calc(100vh - 70px);
  color: #fff;
  overflow-y:  scroll;
}
.navNavigation ul {
  display: flex;
  flex-direction: column;
 
}
.navigationItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.navigationItem span:last-child {
  margin-right: 10px;
  display: block;
  font-family: IRANSansWeb;
}
@media screen and (max-width: 992px) {
  .navigation {
    display: none;
  }
}
