* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: sans-serif;
  background-color: #f6f6f6;

}
.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

